<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/images/favicon.ico"  | absolute_url }}">
{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | absolute_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | absolute_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <header>
        <h1>Julien Velcin</h1>
        <p>Professor of Computer Science<br/>Université Lumière Lyon 2</p>
      </header>

      <!--<div id="banner">
        <a href="https://scholar.google.fr/citations?user=mM_oO18AAAAJ"><span id="logo"></span></a>
        <a href="index.html" class="button fork">Homepage</a>
        <div class="downloads">
          <ul>
            <li><a href="research.html" class="button">Research</a></li>
            <li><a href="teaching.html" class="button">Teaching</a></li>
          </ul>
        </div>
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>        
        <!--<span id="picture"></span>-->
        <img src="https://velcin.github.io/images/profile.jpg" class="img_pic"/>
        <br/><br/>
        <table>
          <tr>
            <td><a href="mailto:julien.velcin@univ-lyon2.fr"><img src="https://velcin.github.io/images/email-32.png"/></a></td><td><a href="mailto:julien.velcin@univ-lyon2.fr">Email</a></td>
          </tr><tr>
            <td><a href="https://dblp.org/pid/87/1950.html"><img src="https://velcin.github.io/images/dblp-32.png"/></a></td><td><a href="https://dblp.org/pid/87/1950.html">DBLP</a></td>    
          </tr><tr>
            <td><a href="https://scholar.google.fr/citations?user=_ZreLBMAAAAJ&hl=en"><img src="https://velcin.github.io/images/gs-32.png"/></a></td><td><a href="https://scholar.google.fr/citations?user=_ZreLBMAAAAJ&hl=en">Google Scholar</a></td>
          </tr><tr> 
            <td><a href="https://twitter.com/jvelcin"><img src="https://velcin.github.io/images/twitter-32t.png"/></a></td><td><a href="https://twitter.com/jvelcin">Twitter</a></td>
          </tr><tr>
            <td><a href="https://www.linkedin.com/in/julien-velcin-a1b9b43a/?originalSubdomain=en"><img src="https://velcin.github.io/images/linkedin-32.png"/></a></td><td><a href="https://www.linkedin.com/in/julien-velcin-a1b9b43a/?originalSubdomain=en">LinkedIn</a></td>
          </tr>
        </table>
        <br/><br/>
        <!--<ul></ul>-->
      </nav>
      <section>
        {{ content }}

      </section>
      <footer>
        
      </footer>
    </div>

  </body>
</html>
